.tab-content {
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
    border-left: 1px solid #b8310a;
border-right: 1px solid #b8310a;
border-bottom: 1px solid #b8310a;
    /*padding: 10px;*/
}

.subMenu1 {
    left: 105px !important;
    top: 84% !important;
}

#ProyectosTableContainer .jtable-main-container {
    border-left: 1px solid #b8310a;
    border-right: 1px solid #b8310a;
}

.nav-tabs {
    margin-bottom: 0;
}

a:hover {
    cursor: default;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #b8310a;
    border: 1px solid #b8310a;
    /*border-bottom-color: transparent;*/
    font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 20px;
}

.nav > li > a:focus, .nav > li > a:hover {
    /*font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;*/
    background-color: #eee;
    /*font-weight: 300;*/
    /*font-size: 19px;*/
    /*color: #fff;*/
}